.btn {
  padding: 12px;
  width: 360px;
  background-color: rgb(21, 45, 255);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb
}

.form_into {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 380px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 5px rgba(192, 191, 191, 0.7);

}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

.email,
.password,
.birthday {
  padding: 12px;
  width: 100%; 
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 17px;
  margin-top: 10px;
  box-sizing: border-box; 
}

.images {
  width: 140px;
  margin-bottom: 20px;
}

.section_email,
.section_password,
.section_birthday
{
  width: 360px; 
  display: flex;
  flex-direction: column;
  
}

.section_terms{
  margin-bottom: 10px;
}



